<table class ='table'>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Cost</th>
            <th width="14%">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in productsGridCtrl.products">
            <td>{{product.productName}}</td>
            <td>{{product.price || 'N/A'}}</td>
            <td>{{product.cost || 'N/A'}}</td>
            <td>
                <button class='btn btn-primary' ui-sref="product-detail({id: product.id})">
                    <i class="fa fa-edit"></i>
                </button>
                <button class='btn btn-primary' ng-click="productsGridCtrl.remove({id: product.id})">
                    <i class='fa fa-trash'></i>
                </button>
            </td>
        </tr>
    </tbody>
    
</table>
